<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <style>

    </style>
    <title></title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body id="bodyNPId" style="text-align: center; padding: 0px; margin: 0px">

    <div onclick="openMain()" style="cursor: pointer; border: 1px solid #b3d9ff; background-color:#f4f1f2">>></div>
    <!--*************END OF FILE******************-->
    <script src="../javascripts/basic-window.js"></script>
</body>

</html>
