<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        #projectDescription {
            border: 2px solid #d4eff7;
            border-radius: 7px;
            padding: 10px;
            outline: none;
            font-size: 13pt;
            margin-top: 15px;
            min-height: 60px;
        }

        [contenteditable]:empty:before {
            content: attr(data-placeholder);
            color: #778899;
        }
    </style>
    <title>Project Description</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body id="bodyId" style="">


    <div id="projectName" style="text-align: center; font-size: 15pt; margin-top: 10px; margin-bottom: 10px;"></div>

    <div id="projectDescription" contenteditable="true" data-placeholder="Enter a description for your project" style="margin-left: 20px; margin-right: 20px; text-align: left"></div>
    
    <div style="text-align: center">
    <div onclick="saveDescription()" style="display: inline-block; margin-top: 15px; border: 3px solid #d4eff7; border-radius: 10px; padding: 5px; padding-right: 8px; padding-left: 8px; font-size: 12pt; cursor: pointer; margin-right: 20px">Save</div>
    </div>



    <script src="../javascripts/description-window.js"></script>
</body>

</html>