<!DOCTYPE html>
<html>
<title>Check for Git</title>
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

<body>
    <div style="margin-left: 20px; margin-right: 20px; margin-top: 15px; font-size: 14pt">
        <div style="margin-bottom: 15px">Hi There!</div>
        <div style="margin-bottom: 15px">There was an error saving a new version of your project.</div>
        <div style="margin-bottom: 15px">One possible cause of this error is that you don't have 'Git' installed on your
            computer.</div>

        <hr style="width: 70%; border: 1px solid  #f5f5f5; margin-top: 20px; margin-bottom: 20px">

        <div style="margin-bottom: 15px">What's Git?</div>
        <div style="margin-bottom: 15px">Git is a tried and true way of saving versions that millions of programmers
            have used for years.
        </div>
        <div style="margin-bottom: 15px">This app builds on some of that functionality so you can easily save versions
            of any kind of project. So, to save project versions, compare versions, and more, you'll need Git installed
            on this computer.</div>
        <div>Git comes automatically with Mac computers and Linux computers. If you have a Windows computer, you might
            not
            have
            Git installed yet.</div>

        <hr style="width: 70%; border: 1px solid  #f5f5f5; margin-top: 20px; margin-bottom: 20px">

        <div style="margin-bottom: 15px">To install Git, please visit <span
                style="text-decoration: none; color: #3399FF; cursor: pointer"
                onclick="openLink()">https://git-scm.com/downloads</span> and follow the instructions there.</div>
        <div>After that, you
            should be able to get all the power of this app.</div>
    </div>
    <script src="../javascripts/get-git-window.js"></script>
</body>

</html>