<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <style>

    </style>
    <title></title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body id="bodyId" style="">
<div style="margin: 10px"> Display Content Below</div>
<iframe src="https://github.com/electron/electron "height="200" width="300"></iframe>

<!--<webview id="webview" src="https://stackoverflow.com/" nodeintegration></webview>-->
    <div id="enterData"></div>
   
    <script src="../javascripts/github-window.js"></script>
</body>

</html>