<!DOCTYPE html>
<html>

<!--link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />  <!--CSS. if want to go with this method, can try downloading the file directly into the app so you can access the diff even when offline. This one is 60kb-->

<!--script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script><!--Javascripts. if want to go with this method, can try downloading the file directly into the app so you can access the diff even when offline. This one is 80kb-->

<head>
    <meta charset="UTF-8">
    <!--note: this icon link below is probably not required. But left in for now in case there is an errant reference to it somewhere-->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
        <link rel="stylesheet" href="../styling/project-window-css.css">

    <title>Project Window</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body id="bodyId"
    style="margin-top: 4px; padding: 10px; padding-top: 5px; padding-left: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; overflow: auto;">

    <!------Select Project Folder------>
    <div style="overflow: none">
        <div id="topLineOverview">
                <span id="changeFolder">change project folder</span>
            <span id="hideWindowButton" onclick="hideWindow()"> >> </span>
        </div>
        <div>
            <span style="margin-top: 7px;" id='addSummaryButton' onclick="addSummary()">+ summary</span>
            <span id="openNavWindow" onclick="openNavigator()">navigator</span>
        </div>
        <div style="clear: both; margin-bottom: 15px"></div>
        <div class="projectOverview">
            <div class="padding-class ">
                <img class="blueFolderHeader icon" src="../assets/folder_open_google_icon.svg"></img>
                <span id="projectDirectory" class="docOrDirectory"></span>
                <div></div>
            </div>
            <!--************List out contents of the folder***************-->
            <div style="overflow: auto; margin-bottom: 90px" id="folderContents" class="padding-class"></div>
        </div>


    </div>
    <!------*********SAVE PROJECT VERSION******************-->
    <div id="saveProjectVersion"
        style="margin-bottom: 5px; border-top: 4px solid #d4eff7; display: none; padding-top: 7px">
        <div style="text-align: right; width: 100%">
            <div class="closeViewButton" onclick="closeSaveView()" id="closeSaveVersionView">x</div>
        </div>
        <div id="savingProgress" class="padding-class" style="margin-bottom: 60px">Saving version...</div>
        <div style="" class="padding-class">
            <div id="saveProjectHeader" style="margin-right: 10px; margin-top: 0px;font-weight: bold">Save Project
                Version:</div>
        </div>

        <div id="saveProjectItems" class="padding-class" style="margin-left: 10px;">
            <div tabindex="1" contenteditable="true" id="noteForSave"
                data-placeholder="enter note...hit tab or the button to save"></div>
            <div tabindex="2" id="saveButton">Save Version</div>
        </div>

    </div>
    <!--

-->



    <!--**************OPTIONS AT BOTTOM**************************-->
    <div id="optionsAtBottom"
        style="border-top: 3px solid #d4eff7;  font-size: 13pt; text-align: center; padding-top: 8px">
        <div id="showSave" onclick="showSaveVersion()">Save Version</div>
        <div style="border-top: 2px solid #d4eff7; padding-top: 8px">
            <div id="priorVersionsButton" onclick="priorVersionsFunction()">Prior Versions</div>

            <!--   
            <span id="viewPriorVersionsSelect"
                style="text-align: center; padding-top: 5px;padding-bottom: 5px; display: inline-block;  width: 47%; margin-top: 7px; border-right: 3px solid #d4eff7; margin-bottom: 5px"><span>Prior</span><br><span>Versions</span></span>
            <span id="compareChangesSelect"
                style="text-align: center;padding-top: 5px; padding-bottom: 5px; display: inline-block; width: 49%; margin-top: 7px; margin-bottom: 5px"><span>Compare
                </span><br>Changes</span></span>
            -->
        </div>
    </div>
    <!--*************END OF FILE******************-->
    <script src="../javascripts/main-window.js"></script>
</body>

</html>