  /*** COMPARING VERSIONS***/

        .showChangesButton {
            margin-right: 10px;
            padding: 4px;
            border: 3px solid #32cd53;
            border-radius: 12px;
            cursor: pointer;
            margin-bottom: 20px;
            display: inline-block;
            font-size: 13pt
        }

        .folderIcon {
            padding-right: 3px;
            height: 11pt;
            width: 9pt;
            vertical-align: text-top;
        }

        .showChangesButton:hover {
            background-color: #32cd53;
            border: 3px solid #32cd53;
            color: white
        }

        .d2h-code-line,
        .d2h-code-line-ctn {
            white-space: normal !important;
        }

        .d2h-ins {
            background-color: #d6ebd5
        }

        .d2h-del {
            background-color: #fbe9ec;
            // background-color: #fdf0c5  //more of a tannish background color
        }

        tr ins {
            background-color: #9df2af
        }

        tr del {
            background-color: #f1a7b3
        }

        /****BODY ***/

        /*****SELECTING FOLDER****/


        #folderOverview {
            margin-bottom: 0px
        }

        #projectDirectory {
           /* display: table-cell;*/
            padding-left: 0px;
            font-weight: bold;
            margin-right: 5px;
            font-size: 16pt;
            cursor: pointer;
            color: #262626;
            outline: none;
        }

        .docOrDirectory {
            outline: none;
             user-select: none;
        }

        #folderContents {
            font-size: 13pt;
            cursor: pointer;
            color: #262626;
        }


        projectOverview {
            // box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2),0 5px 4px 0 rgba(0,0,0,0.19) !important; 
            display: inline-block;
            padding-left: 1px !important;
            padding-right: 1px !important;
            margin-left: 7px !important;
            margin-right: 6px !important;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            border-radius: 5px;
        }

        #topLineOverview {
            margin-bottom: 15px;
        }

        @media only screen and (max-width: 212px) {
           #topLineOverview {
             margin-bottom: 5px;
            }
       }

        #hideWindowButton {
            float: right;
            margin-left: 10px;
            margin-top: -5px;
            margin-right: 20px; 
            border-radius: 4px; 
            cursor: pointer; 
            display: inline-block; 
            padding: 5px; 
            padding-top: 3px; 
            padding-bottom: 3px; 
            font-size: 14pt; 
            color:  #737373;
        }

       @media only screen and (max-width: 212px) {
           #hideWindowButton {
               float: none;
                margin-top: 10px !important
            }
       }

        #hideWindowButton:hover {
            background-color: #66b5ff;
            color: black !important;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }

    

        #changeFolder {
            display: inline-block;
            font-size: 11pt;
            //border: 1px solid #d4eff7;
            border-radius: 15px;
            padding: 2px;
            padding-left: 8px;
            padding-right: 8px;
            cursor: pointer;
            margin-left: 8px;
            //margin-right: 20px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important
        }

        #changeFolder:hover {
            background-color: #d4eff7;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }


        #openNavWindow {
            display: inline-block;
            float: right;
            font-size: 11pt;
            //border: 1px solid #d4eff7;
            border-radius: 15px;
            padding: 2px;
            padding-left: 8px;
            padding-right: 8px;
            cursor: pointer;
           // margin-left: 55px;
            margin-right: 20px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important
        }

           @media only screen and (max-width: 212px) {
           #openNavWindow {
               float: none;
                margin-top: 10px !important;
                margin-left: 10px;
            }
       }

        #openNavWindow:hover {
            background-color: #d4eff7;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }

        #closeChoose {
            display: none;
            font-size: 11pt;
            border: 1px solid red;
            border-radius: 15px;
            padding: 2px;
            padding-left: 8px;
            padding-right: 8px;
            cursor: pointer;
            margin-left: 15px
        }

        #newFolderButton,
        #newDocButton {
            cursor: pointer;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 3px;
        }

        #newFolderButton:hover,
        #newDocButton:hover {
            background-color: #d4eff7;
        }

        /****Folder Contents****/

        .highlightFolderOrFile {
            background-color: #EFF9FC;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19) !important;
        }

        .subFolder {
            cursor: pointer;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 5px;
            padding-left: 5px;
            padding-top: 6px;
            padding-bottom: 6px;
            word-break: break-all
        }

        .subFolder:hover {
            background-color: #d4eff7;
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19) !important;
        }

        .parentDiv {
            border: 2px solid red
        }

        /***COMMIT MESSAGE****/
        [contenteditable]:empty:before {
            content: attr(data-placeholder);
            color: #778899;
        }

        #noteForSave {
            border: 1px solid black;
            border-radius: 7px;
            padding: 10px;
            outline: none;
            font-size: 13pt;
            margin-top: 10px;
            min-height: 30pt;

        }

        #selectedDoc {
            font-size: 14pt
        }

        #addProjectButton {
            display: none;
            cursor: pointer;
            text-align: center;
            /*font-size: 10pt;*/
            border-radius: 12px;
            padding: 7px;
            border: 2px solid #3399FF;
            outline: none;
            margin-top: 15px;
        }

        #addProjectButton:hover {
            background-color: #3399FF;
            color: white;
            border: 3px solid #3399FF;
        }

        #savingProgress {
            display: none;
            margin-top: 25px;
            font-style: italic;
            font-size: 14pt
        }

        #saveButton {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            /*font-size: 10pt;*/
            border-radius: 8px;
            padding: 5px;
            border: 2px solid #d4eff7;
            outline: none;
            margin-top: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.19) !important;
            /* margin-left: 35px;
            vertical-align: 20%;*/
        }

        #sendButton {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            /*font-size: 10pt;*/
            border-radius: 8px;
            padding: 5px;
            border: 3px solid #3399FF;
            outline: none;
            margin-bottom: 10px;
            /* margin-left: 35px;
            vertical-align: 20%;*/
        }

        /***MAKING THE COMMIT****/

        .closeViewButton {
            text-align: right;
            margin-right: 10%;
            font-size: 13pt;
            padding-left: 6px;
            padding-right: 6px;
            cursor: pointer;
            display: inline-block;
            /* width: 20%; */
        }

        .closeViewButton:hover {
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }



        #saveButton:hover {
            background-color: #3399FF;
            color: white;
            border: 2px solid #3399FF;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }

        #sendButton:hover {
            background-color: #3399FF;
            color: white;
        }



        /*****PRIOR VERSIONS*****/

        #viewPriorVersionsButton {
            display: inline-block;
            font-size: 12pt;
            border: 3px solid #d4eff7;
            border-radius: 15px;
            padding: 2px;
            padding-left: 8px;
            padding-right: 8px;
            cursor: pointer;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important;
        }

        #viewPriorVersionsButton:hover {
            background-color: #d4eff7;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }


        .versionOverviewClass {
            padding: 5px;
            margin-bottom: 12px;
            border: 2px solid #f5f5f5;
            border-radius: 10px;
            cursor: pointer;
            color: #1a1a1a;
        }

        .versionOverviewClass:hover {
            background-color: #d4eff7
        }

        .versionMessage {
            margin-bottom: 5px;
            font-size: 13pt
        }

        .versionNumber {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 2px solid #2db94b;
        }

        .versionDateTime {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 2px solid #2db94b;
        }

        .versionNumberOverview {
            font-size: 14pt
        }

        #selectVersionsHeader {
            margin-top: 15px;
            margin-bottom: 10px;
            margin-left: 3px;
            /*font-size: 14pt;*/
        }

        .selectedChangeClass {
            border: 3px solid #a9dfef
        }


        /****save version^^^****/

        #saveProjectVersion {
            position: fixed;
            bottom: 15px;
            left: 0px;
            right: 0px;
            background-color: white;
            width: 100%;
            z-index: 100;
        }

        /***COMPARE CHANGES****/

        #optionsAtBottom {
            position: fixed;
            bottom: 0;
            z-index: 100;
            width: 100%;
            background-color: white;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }

        #showSave {
            padding: 5px;
            margin-top: 2px;
            margin-bottom: 10px;
            border-radius: 5px;
            width: 90%;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important;
            display: inline-block;
            cursor: pointer
        }

        #showSave:hover {
            background-color: #3399FF;
            color: white;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }


        #viewPriorVersionsSelect:hover {
            cursor: pointer;
            background-color: #32cd53;
            color: white;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }


        #compareChangesSelect:hover {
            cursor: pointer;
            background-color: #3399FF;
            color: white;
        }

        .padding-class {
            padding-left: 15px;
            padding-right: 15px;
        }

        #bodyId {
            font-family: 'serif';

        }

        #priorVersionsButton {
            padding: 5px;
            margin-top: 2px;
            margin-bottom: 10px;
            border-radius: 5px;
            width: 90%;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important;
            display: inline-block;
            cursor: pointer
        }

        #priorVersionsButton:hover {
            background-color: #3399FF;
            color: white;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }

        #addSummaryButton {
            font-style: italic;
            padding-right: 5px;
            padding-left: 5px;
            // display: none;
            cursor: pointer;
            border-radius: 5px;
            margin-left: 15px;
            //margin-right: 15px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important;
        }

           @media only screen and (max-width: 212px) {
           #addSummaryButton {
             margin-bottom: 5px;
            }
       }

        #addSummaryButton:hover {
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 4px 0 rgba(0, 0, 0, 0.19) !important;
        }

        #noteForSave {
            border: 2px solid #e6f2ff;
            border-radius: 7px;
            padding: 10px;
            outline: none;
            font-size: 13pt;
            margin-top: 10px;
            min-height: 30pt;
            box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%), 0 5px 4px 0 rgb(0 0 0 / 19%) !important;
        }

        /**icons**/

        .folderTopic {
            display: table-cell;
            margin-left: 20px;
            padding-left: 4px
        }

          .blueFolderHeader {
           /* display: table-cell;*/
            color: #4da6ff; //#3399FF;  
            font-size: 23px !important;
            vertical-align: top;
            margin-right: 0px;
            filter: invert(51%) sepia(80%) saturate(619%) hue-rotate(182deg) brightness(102%) contrast(101%);
        }

        .blueFolder {
            /*  display: table-cell;*/
            /*  color: #4da6ff;*/  
            height: 18px;
            width: 18px;
            margin-right: 3px;
            vertical-align: top;
            filter: invert(51%) sepia(80%) saturate(619%) hue-rotate(182deg) brightness(102%) contrast(101%);
        }

        .filter-green {
            height: 15px;
            width: 15px;
            margin-right: 3px;
            filter: invert(88%) sepia(4%) saturate(3721%) hue-rotate(75deg) brightness(90%) contrast(100%);
        }

        .greenFile {
            //  display: table-cell;
            color: #84e198; //#32cd53;
            font-size: 14px !important;
            margin-right: 3px
        }

        .shareProjectButton {
            cursor: pointer;
            padding: 8px;
            border-radius: 20px;
            font-size: 13pt;
            display: inline-block;
            margin-bottom: 9px;
            //border: 3px solid #4da6ff;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%) !important;
            //background: -webkit-linear-gradient(#3399ff, #2cb5e8, #1fc8db);
            background-color: #4da6ff;
            color: white;
        }

        .shareProjectButton:hover {
            cursor: pointer;
            font-size: 14pt !important;
            background-color: #4da6ff;
            color: white;
            box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%), 0 5px 4px 0 rgb(0 0 0 / 19%) !important;
        }